# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# My try to leave only .cpp and .h files
*.filters
*.vcxproj
*.idb
*.tlog
Bank/.vs/Bank/v15/ipch/AutoPCH/9bf5930bf0fbf845/MAIN.ipch
Bank/.vs/Bank/v15/.suo
Bank/.vs/Bank/v15/Browse.VC.db
Bank/.vs/Bank/v15/.suo
Bank/.vs/Bank/v15/Browse.VC.opendb
Bank/.vs/Bank/v15/.suo
Bank/Debug/Bank.ilk
Bank/Debug/Bank.pdb
